@import url(font/archia/stylesheet.css);
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.wrapper {
    height:95%;
    position: absolute;
}
#info {
    position: relative; 
    top: 45%;
    left: 85%;
    text-align: center;
    font-family: 'archiaregular', Fallback, sans-serif;
    font-size: 2vw;
    line-height:0.5;
    color:white;
    
}
.cont {
    padding-top:5px;
    width: 100%;
    overflow: auto;
}
#desc {
    height: 700px;
    background-color:blue;
}

.footer {
    width: 100%;
    overflow: auto;
}
#contact {
    height: 250px;
}