@import url(font/archia/stylesheet.css);
@import url(font/bariol/stylesheet.css);

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.wrapper {
    height:95%;
    position: absolute;
}
#info {
    position: relative; 
    top: 45%;
    left: 83%;
    text-align: center;
    font-family: 'archiaregular', Fallback, sans-serif;
    font-size: 2vw;
    line-height:0.5;
    color:white;
    
}
.cont {
    padding-top:5px;
    width: 100%;
    overflow: auto;
}
#desc {
    padding-top: 15%;
    padding-left: 22%;
    padding-bottom: 15%;
    padding-right: 22%;
    font-family: 'bariolregular', Fallback, sans-serif;
        line-height:1.4;
    font-size: 2.5vw;
    color:blue;
}

.footer {
    width: 100%;
    overflow: auto;
    background-color:blue;
}
#contact {
    height: 400px;
}