@import url(font/archia/stylesheet.css);
@import url(font/bariol/stylesheet.css);

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.wrapper {
    height:95%;
    position: absolute;
}
#info {
    position: relative; 
    top: 45%;
    left: 83%;
    text-align: center;
    font-family: 'archiaregular', Fallback, sans-serif;
    font-size: 2vw;
    line-height:0.5;
    color:white;
    
}
.cont {
    padding-top:5px;
    width: 100%;
    overflow: auto;
}
#desc {
    padding-top: 15%;
    padding-left: 22%;
    padding-bottom: 15%;
    padding-right: 22%;
    font-family: 'bariolregular', Fallback, sans-serif;
    line-height:1.4;
    font-size: 2.5vw;
    color: #1D024B;
    word-break: break-all;
    hyphens: auto;
}

.footer {
    width: 100%;
    overflow: auto;
    background-color: #1D024B;
}
#contact {
    padding-top: 10%;
    padding-left: 27%;
    padding-bottom: 10%;
    padding-right: 27%;
}

#icon {
   filter: invert(100%);
   width: 6vw; 
   padding-top: 5%;
   padding-left: 5%;
   padding-bottom: 5%;
   padding-right: 5%;
}

@media (max-width:800px) {
  #info {
    width: vw;
    position: relative; 
    top: 45%;
    left: 7%;
    text-align: center;
    font-family: 'archiaregular', Fallback, sans-serif;
    line-height:0.5;
    color:white;
    font-size: 4.65vw;
  }

  #desc {
    padding-top: 30%;
    margin:;
    padding-right: 10%;
    font-family: 'bariolregular', Fallback, sans-serif;
    line-height:1.4;
    font-size: 25px;
    color: #1D024B;
    word-break: break-all;
    line-break: auto;
    hyphens: auto;
}
#icon {
   filter: invert(100%);
   width: 10vw; 
   padding-top: 10%;
   padding-left: 5%;
   padding-bottom: 10%;
   padding-right: 5%;
}
}